html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box {
  padding: 0.5rem;
}
