.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.summer {
  background-color: orange;
}

.season-display.summer i {
  color: red;
}

.season-display.winter {
  background-color: aliceblue;
}

.season-display.winter i {
  color: blue;
}

.icon-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.icon-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
